@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Barnhill Barcode Library</h1>
        <p class="lead">This is an example of how to implement the Barnill Barcode libary in an MVC applicaiton.</p>

        <p>
            <img src="/home/myimage" />

        </p>



        <p><a target="_blank" class="btn btn-primary" href="https://github.com/barnhill/barcodelib">Learn more &raquo;</a></p>
    </div>

