@model BarcodeStandardWeb.Models.BarCodeVM
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                @foreach (var item in Model.BarCodeList)
                {
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">
                                    @Html.ActionLink(item.AlternateLabel, "Details", new { id = item.Id })
                                </h5>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.BarcodeByteArray)" class="img-fluid ml-lg-5 order-1 order-lg-2" />
                        </div>
                        <!-- End -->
                    </li>
                }
            </ul>
            <!-- End -->
        </div>
    </div>
</div>
